html{
    height: 100%;
}
body {
    margin:0;
    min-height: 100%;
}
.note-container {
    width: 40%;
    min-width:10em;
    float: left;
    height: auto;
    background-color: #FBFB69;
    border: 2px solid yellow;
    border-radius: 2px;
    margin: .5em;
    box-shadow: 6px 5px 13px grey;
    font-size: 1.5em;
}
.header {
    padding: 1em 7em;
    background-color: #FBFB69;
    width: auto;
    height: 4em;
    margin: 0em;
}
.header .label {

    float: left;
    font-size: 3em;
}
.note-container hr{
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(220, 220, 96), rgba(0, 0, 0, 0));
}
.title-label {
    font-weight: 600;
}
.delete-note img, .header img {

    float:right;
    opacity: .2;
    cursor: pointer;
    padding: 0em 1em;
}
.delete-note img {
    width:1em;
    padding: 0em 0em;
}

.header img {
    width:3em;
}
.delete-note img:hover , .header img:hover{
    opacity: .6;
}
.input-area {
    width: 90%;

}
.title-label, .note-text {
    width: 85%;
    word-wrap: break-word;
    padding: 0.1em .6em;
}
.note-text{
    font-size: .7em;
}
.new-title-input, .new-note-text, .create-note{
    margin: 1em;
    float: left;
}

.new-note-text {
    width: 40%;
}
.main-container {
    margin:0em auto;
    width: 100%;
    height: auto;

}
.notes-container {
    width:70%;
    height:100%;
    margin: 3em auto;
}
.note-creation-label {
    margin: 1em;
}
.fl {
    float:left;
}
.fr {
    float: right;
}
.note-group {
    height: auto;
    overflow: auto;
    border: 5px dashed grey;
    border-radius: 14px;
    min-width:20em;
    min-height: 7em;
}
.note-group-name {
    color: grey;
    background-color: #FBFB69;
    font-weight: bold;
    text-align: center;
    margin: 0em auto;
    padding: 6px;
    overflow:auto;
}
.edit-group-name {
    margin: 0 1em;
    opacity: .3;
}
.edit-group-name:hover {
    opacity: .5;
    cursor: pointer;
}
.note-group-parent {
    float:left;
    margin: .5em;
}

.create-note-group{
    opacity: .4;
}
.create-note-group:hover{
    opacity: .3;
    cursor: pointer;
}
.new-group-label{
    margin: 2em auto;
    height: 100%;
    width: 15em;
    text-align: center;
    font: bold 1.5em arial sans-serif;
}
